<h1> List of user </h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">UserName</th>
      <th scope="col">Private ?</th>
      <th scope="col">   </th>
      <th scope="col">   </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.username %></th>
        <td><%= user.private ? 'Yes' : 'No' %></td>
        <td><% if user_signed_in? %>
        <% if current_user == user %>
          <%= button_to "Follow", home_path(user.id), method: :get %> 
        <% elsif current_user.followings.exists?(followed_user_id: user.id) %>
          <% following = current_user.followings.find_by(followed_user_id: user.id) %>
          <% if following.status == "accepted" %>
            <%= button_to "Unfollow", unfollow_home_path(user.id), method: :delete %>
          <% elsif following.status == "pending" %>
            <%= button_to "Cancel Request", cancel_request_home_path(user.id), method: :delete %>
          <% end %>
        <% else %>
          <% if user.private? %>
            <% following = current_user.followings.find_by(followed_user_id: user.id) %>
            <% if following && following.status == "pending" %>
              <%= button_to "Cancel Request", cancel_request_home_path(user.id), method: :delete %>
            <% else %>
              <%= button_to "Follow", send_request_home_path(user.id), method: :post %>
            <% end %>
          <% else %>
            <%= button_to "Follow", send_request_home_path(user.id), method: :post %>
          <% end %>
        <% end %>
      <% end %>
      </td> 
      <td><%= link_to "Show details", home_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
