<h1>Liked Photos</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Caption</th>
      <th scope="col">Owner</th>
      <th scope="col">Posted</th>
      <th scope="col">Likes</th>
      <th scope="col">      </th>
    </tr>
  </thead>
  <tbody>
    <% @liked_photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image, style: "width: 200px; display: block" %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.user&.username %></td>
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>
        <td><%= photo.like_count %></td>
        <td><%= link_to "Show details", photo_path(photo.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
