<h1>User Details</h1>
<p>Username: <%= @user.username %></p>
<p>Private Account: <%= @user.private ? 'Yes' : 'No' %></p>
<p>Followers :<%= @user.followers_count %></p>

<% if current_user == @user %>
  <% @pending_requests.each do |request| %>
    <% if request.follower != current_user && request.status == "pending" %>
      <div>
        <%= link_to request.follower.username, user_path(request.follower) %> has sent you a follow request.
        <%= button_to "Accept", accept_request_home_path(request.follower), method: :patch %>
        <%= button_to "Reject", reject_request_home_path(request.follower), method: :delete %>
      </div>
    <% end %>
  <% end %>
<% end %>
<p>Following :<%= @user.following_count %></p>

<h1>Own Photos</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Caption</th>
      <th scope="col">Owner</th>
      <th scope="col">Posted</th>
      <th scope="col">Likes</th>
      <th scope="col">      </th>
    </tr>
  </thead>
  <tbody>
    <% @user.photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image, style: "width: 200px; display: block" %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.user&.username %></td>
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>
        <td><%= photo.like_count %></td>
        <td><%= link_to "Show details", photo_path(photo.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

