<h1>User Details</h1>
<p>Username: <%= @user.username %></p>
<p>Private Account: <%= @user.private ? 'Yes' : 'No' %></p>
<p>Followers :<%= @user.followers_count %></p>
<% if current_user == @user %>
  <% if @pending_requests.present? %>
    <ul>
      <% @pending_requests.each do |request| %>
        <li>
          <%= " #{request.sender.username} has sent a follow request." %>
          <%= button_to 'Accept', accept_request_home_path(request), method: :patch %>
          <%= button_to 'Reject', reject_request_home_path(request), method: :delete %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No pending follow requests.</p>
  <% end %>
<% end %>

<p>Following :<%= @user.following_count %></p>

