<h1>Photo Details</h1>
<p>Image: <%= image_tag @photo.image, style: "width: 200px; display: block" %></p>
<p>Caption: <%= @photo.caption%></p>
<p>Owner: <%= @photo.user&.username%></p>
<p>Posted: <%= time_ago_in_words(@photo.created_at) %> ago</p>
<p>Like Count: <%= @photo.like_count %></p>
<p>Comments Count : <%= @photo.comments_count %></p>
<p>Fan</p>
<% if @photo.likes.any? %>
  <ul>
    <% @photo.likes.each do |like| %>
      <li><%= like.user.username %></li>
    <% end %>
  </ul>
<% else %>
  <p>No likes yet.</p>
<% end %>
<p>Add Fan</p> 
<% if current_user.likes.exists?(photo_id: @photo.id) %>
  <%= button_to 'Unlike', unlike_photo_path(@photo), method: :post %>
<% else %>
  <%= button_to 'Like', like_photo_path(@photo), method: :post %>
<% end %></p>

<h1>Comments</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Commenter</th>
      <th scope="col">Comment</th>
      <th scope="col">Posted</th>
    </tr>
  </thead>
  <tbody>
    <% @photo.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.username %></td>
        <td><%= comment.body %></td>
        <td><%= time_ago_in_words(comment.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a new Comment</h2>
<%= form_with(model: [@photo, Comment.new], url: photo_comments_path(@photo)) do |form| %>
  <%= form.text_area :body, placeholder: 'Enter your comment' %>
  <%= form.submit 'Add Comment' %>
<% end %>
